@use "../abstracts/" as *;

.button {
  margin-block-start: 2.5rem;
  padding: 0.938rem 2rem;
  font-family: $ff-secondary;
  font-size: $font-size-200;
  font-weight: $fw-black;
  background-color: $color-accent-600;
  color: $color-neutral-50;
  border-radius: 6px;
  transition: background-color 350ms ease-out;
  cursor: pointer;
}
//   &:hover {
//     background-color: hsl(0, 100, 79%);
//   }
//   &[data-type="primary"] {
//     @include mq(medium) {
//       background-color: $color-primary-800;
//       padding-inline: 1.188rem;
//     }
//     @include mq(large) {
//       padding-inline: 2.813rem;
//     }
//     &:hover {
//       background-color: hsl(0, 0, 59%);
//     }
//   }
//   &[data-type="secondary"] {
//     width: fit-content;
//     padding: 0.5rem 0;
//     color: $color-accent-600;
//     background-color: transparent;
//     // padding: 0;
//     border-bottom: 1px solid $color-accent-600;
//     &:hover {
//       color: hsl(0, 100, 79%);
//       border-bottom-color: hsl(0, 100, 79%);
//     }
//   }
// }
