@use "../abstracts/" as *;

.button {
  margin-block-start: 2.5rem;
  padding: 0.938rem 2rem;
  font-family: $ff-secondary;
  font-size: $font-size-200;
  font-weight: $fw-black;
  background-color: $color-accent-600;
  color: $color-neutral-50;
  border-radius: 6px;
  transition: background-color 350ms ease-out;
  cursor: pointer;
  &:hover {
    background-color: #66d2cf;
  }
}
