@use "../abstracts/" as *;

.services__work {
  padding-block-start: calc(38rem + 7.125rem);
  padding-block-end: 3.719rem;
  text-align: center;
  @include mq(medium) {
    padding-block-start: calc(19.125rem + 9.063rem);
    text-align: start;
  }
  @include mq(large) {
    // padding-block-start: 12.5rem;
    padding-block-start: calc(12rem + 15.5rem);
    text-align: start;
    padding-block-end: 6.25rem;
  }
  p {
    @include mq(large) {
      max-width: 28vh;
      margin-inline: 0;
    }
  }
  .line {
    position: relative;
    width: 760px;
    height: 1px;
    margin-block: 6rem;
    background-color: #fdd6ba;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .cercle {
      position: relative;
      width: 31px;
      height: 31px;
      border-radius: 50%;
      border: 1px solid #0e8784;
    }
  }
}
