/* FONT FACE */
@font-face {
  font-family: "Fraunces", serif;
  font-weight: 900;
  src: url("/src/assets/fonts/Fraunces_144ptBlack.woff2") format("woff2"),
    url("/src/assets/fonts/Fraunces_144ptBlack.woff") format("woff");
}
